/* Stylesheet for Colmar Academy project by Sarah Wynn Apr 2018 */

/* ---------------- Universal Rules ---------------- */
/* colors to try:
#63391C brown and #FFCB55 gold
#615E37 dark green and #FFCB55 yellow gold
#E88542 burnt orange and #FFCB55 yellow gold
*/
html {
  font-size: 16px;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

h4 {
  font-weight: bold;
}

p {
  font-size: 1rem;
}

.site-container {
  max-width: 1024px; /* max-width rather than width so that sections can react to browser size changes. */
  margin-left: auto; /* These horizontally center the .site-container in the browser. */
  margin-right: auto;
}

.picture-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* 100% of site-container */
  /* height is determined in the individual picture-section */
}

.mini-picture-section {

}

.picture-section img { /* main section images are all the same width, but different heights */
  width: 100%; /* redline says 60%, but is also says 60%+40%+48px=100% */
  height: auto;
  /* previously this was margin: auto; ... but maybe we should have 2nd picture-section off-set by 4rem, too */
  margin-bottom: auto; /* this has to be auto rather than set to allow the image to scale properly. */
  overflow: hidden;
}

.mobile {
  display: none;
}

  /* #practicing-page {
    position: sticky;
    top: 4rem;
    background-color: #615E37;
  }

  #learning-page {
    position: sticky;
    top: 4rem;
    background-color: #FFCB55;
  }

  #thesis-page {
    position: sticky;
    top: 4rem;
    background-color: #615E37;
  } */

@media only screen and (max-width: 607px) {
  h3 {
    padding-bottom: 1rem;
  }
}

/* ---------------- Header Page ---------------- */

header { /* header contains #logo and nav */
  position: fixed;
  z-index: 100;
  height: 4rem;
  width: 100%;
  background-color: #FFCB55; /* ?change to collegiate colors */
}

header .site-container {
  display: flex; /* flex rather than inline-flex as we want it to span the whole page. */
  flex-direction: row;
  justify-content: space-between; /* Put #logo at one end and nav at other. */
  align-items: center; /* Center content (#logo and nav) vertically. */
  height: 100%; /* same height as header */
}

/* logo contains image and name */
header #logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center; /* Center content (h1) vertically. */
}

#logo img {
  vertical-align: middle;
  height: 2rem; /* icon */
  margin-left: 1.5rem;
  margin-right: 0.5rem;
}

#logo span {
  font-size: 1rem;
}

#logo #colmar {
  font-weight: bold;
}

header nav {
  background-color: #615E37;
}

/* the redline shows no space between color stripes and navigation items, but
this looks crowded and inaccessible, so I've added space. */
header a {
  display: inline-block; /* allows us to manipulate size of inline element */
  background-color: #FFCB55;
  height: 4rem; /* extends the background color from top to bottom */
  line-height: 4rem; /* vertically centers the text */
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  }

  header a:first-child {
    margin-left: 0; /* removes the first unwanted color margin */
  }

/* ---------------- Landing Page ---------------- */

#landing-page { /* this is a specific .picture-section */
  flex-shrink: 1;
  background-color: #615E37; /* ? not working */
}

/* The specs specify 60% width for :first-child, and 40% width for :second-child but we need to include margins/borders/padding */
#landing-page div:first-child {
  width: 55%; /* full-size with borders: 611.2px (59.6875%)*/
  height: auto;
}

#landing-page img { /* inside :first-child */
  border-top: 6rem solid #615E37; /* 2rem shown below 4rem of header */
  border-right: 1.5rem solid #615E37;
  border-bottom: 2rem solid #615E37;
  border-left: 1.5rem solid #615E37;
}

#landing-page div:last-child {
  display: inline-flex;
  flex-direction: column;
  justify-content: center; /* Put contents at vertical center */
  width: 35%; /* 40% specified but not correct (see :first-child comment) */
  height: auto;
  color: #FFCB55;
  background-color: #615E37;
  padding-top: 4rem; /* to adjust vertical center due to vertical offset for header. */
  padding-right: 3.5rem;
}

button {
  color: gold;
  padding: 8px 48px;
  background-color: black;
  margin: 2rem 0;

  border: none;
  border-radius: 5px;
  box-shadow: 0 2px #999;
}

button:hover {
  color: #615E37;
    background-color: #FFCB55;
  }
/*
button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
} */

/* ---------------- Practicing Page ---------------- */

#practicing-page {
  flex-shrink: 1;
  background-color: #FFCB55;
}

#practicing-page div:first-child {
  width: 55%; /* full-size with borders: 611.2px (59.6875%) */
  height: auto;
  border: 1px solid #FFCB55;
}

#practicing-page img {
  border-top: 2rem solid #FFCB55;
  border-right: 1.5rem solid #FFCB55;
  border-bottom: 2rem solid #FFCB55;
  border-left: 1.5rem solid #FFCB55;
}

#practicing-page div:last-child {
  display: inline-flex;
  flex-direction: column;
  justify-content: center; /* Put contents at vertical center */
  width: 35%; /* 40% specified but not correct (see :first-child comment) */
  height: auto;
  background-color: #FFCB55;
}

#practicing-page article {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
  }

#practicing-page article img {
  width: 35%;
  height: auto;
}

#practicing-page article:last-child {
  background-color: #FFCB55;
}


/* ---------------- Learning Page ---------------- */

#learning-page { /* a specific section */
  background-color: #615E37;
}

#learning-page h3 {
  color: #FFCB55;
}

#gallery-section { /* immediate child of .site-container */
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%; /* 100% of .site-container */
}

#gallery-section article {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
  width: 17rem; /* site-container minus img widths and margins divided by 3 */
  height: 16.25rem; /* needs adjusting after text style finalized */
  background-color: #FFCB55;
  overflow: hidden;
}

#gallery-section article img {
  max-width: 100%;
  height: auto;
  display: block;
}

#gallery-section article .text {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem; /* guestimate */
}

/* @media only screen and (max-width: 543px) */
@media only screen and (max-width: 607px)
{
  #learning-page {
    background-color: gold;
    margin-bottom: 2rem;
  }

  article {
    display: block;
    height: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  article img {
    display: none;
  }

  article .text {
    min-width: 15.125rem; /* prevents titles from wrapping */
    background-color: paleblue;
    margin: 0.25rem 1rem; /* puts 0.5rem space between course titles, and prevents narrowing screen from going from single column full articles, to double column headings */
  }

  article h4 {
    /* background-color: paleblue; */
    /* padding-top: 1rem;
    padding-bottom: 1.5rem;
    padding-left: 1rem; */
    /* margin: auto; */
  }

  article p {
    display: none;
  }
}

/* ---------------- Thesis Exhibit Page ---------------- */

#thesis-page {
  flex-shrink: 1;
  background-color: #FFCB55;
  padding-bottom: 2rem;
}

#thesis-page .video-container {
  width: 55%; /* full-size with borders: 611.2px (59.6875%) */
  height: auto;
  /* border: 1px solid #FFCB55; */
}

/* width and height set here so percentages can be used and video size is responsive to browser size. */
video {
  width: 100%; /* 100% of 55% declared in .video-container */
  height: auto;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
}

#thesis-page #second-column {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Put contents at vertical center */
  width: 35%; /* 40% specified but not correct (see :first-child comment) */
  height: auto;
  background-color: #FFCB55;
  color: #615E37;
  /*
  padding-top: 4rem; *//* to adjust vertical center due to vertical offset for header.
  padding-right: 3.5rem;*/
}

#thesis-page article {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

#thesis-page article img {
  width: 35%;
  height: auto;
}

#thesis-page article div {
  background-color: #FFCB55;
}

/* ---------------- Footer Page ---------------- */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  height: 3rem;
  color: #FFCB55;
  background-color: #615E37;
}

footer span {
  padding-left: 1.5rem;
}

footer nav {
  margin-right: 1.5rem;
}

footer a {
  color: #FFCB55;
  margin-left: 1rem;
}
